body {
    /*background: silver;*/
    font: 14px 'trebuchet ms', arial, sans-serif;
    margin: auto;
    padding: 0.5em;
    width: 60em;
    background: silver;
}

body, html {
  font-family: Arial, Helvetica, Verdana;
}

header {
    padding: 1em ;
    height: 70px;
    background: #6fac43   ;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid   #8add4d;
}

#title {
    padding: 0.4em;
    font-size: 2em;
    text-align: center;
}


main {
    background: #fff;
    padding: 2em;
    float: none;
}


footer {
    background: #6fac43;
    color: #fff;
    padding: 1em;
    border-top: 4px solid #8add4d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.9em;
    text-align: center;
}

nav {
    float: left;
    margin-bottom: auto;
    margin-top: auto;
    height: available;
    color: #4f8c23;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    color: #4f8c23;
}




/* Links */
a {
    color: #fff;
    background: #4f8c23;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    margin: 2px;
}

a:hover {
    background: #8add4d

}

header a {
    color: #fff;
    background: #4f8c23;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    margin: 2px;
}

header a:hover {
/*    background: #4d8add*/
    background: #8add4d

}


h1{
    font-weight: bolder;
}



table {
    border-collapse: collapse;
    width: 100%;
}

tr td{
    border-bottom: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #8fcc63;
    color: white;
}

 tr:hover {background-color: #beb}

